@import "tailwindcss";

@theme inline {
  --color-abu-green: #294A36;
  --color-abu-green-dark: #173025;
  --color-abu-corn: #D9A928;
  --color-abu-wheat: #E8D59F;
  --color-abu-cream: #F8F4E8;
  --color-abu-earth: #76563C;
  --color-abu-charcoal: #242824;
}

:root {
  background-color: var(--color-abu-cream);
  color: var(--color-abu-charcoal);
}

html {
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Custom Utilities if needed */
.text-balance {
  text-wrap: balance;
}
